.containertop {
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background: white
    }
    .buttons {
font-family: 'Roboto';
font-style: normal;
font-size: 12px;
line-height: 10px;
letter-spacing: 0.06em;
color: #FFFFFF;
margin: 0px 0px 0px 0px;
padding: 8px 20px 5px 0px;
width: 120px;
background: #2196F3;
border-radius: 8px;
border: none;
cursor: pointer;
    }
    .buttons:hover{
        color:#919191
}
    .nav-logo {
        font-size: 30px;
      }
      .nav-logo:hover{
        color:#2196F3
      }
      .nav-link:hover {
        color: #2196F3
      }
      .nav-link{
      margin: 0px 25px 0px 25px;
      color:black;
      
      }
      a {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #2196F3;
      text-decoration: none;
      }
    
    .container-cards{
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        justify-content: center;
        gap: 30px;
    }
        .card{
        width: 300px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        text-align: center;
        justify-content: auto;
        display:flex;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 60px;
        background-color: #FFFFFF;
        }
        .sub {
          color: #757575;
        }
        .tt {
          font-size: 25px
        }
        
        .container-footer {
            width: 1200px;
            padding-top: 30px;
            padding-left: 50px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: left;
            justify-content:left;
            flex-direction: row;
            text-align: left;
            background: #2F303A;
            }
            .nav-logo-footer {
              font-size: 25px;
            
            }
            .textfooter{
            display: flex;
            width: 231px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            
            }
            .textfooter1{
              display: flex;
              width: 231px;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.03em;
              color: #FFFFFF;
            }
            .textfooter2 {
            display:flex;
            width: 231px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            }
            .textfooter3 {
            display:flex;
            width: 231px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            }
            p,h2 {
            margin-left: auto;
            margin-right: auto;
            }