.site-nav .link {
  text-transform: none;
}
.site-nav {
  list-style: none;
}
.body {
  font-family: 'Roboto', sans-serif;
  }

.titlet {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.containertop {
width: 1200px;
height: 80px;
margin-left: auto;
margin-right: auto;
padding-top: 20px;
padding-bottom: 20px;
background: white;
display: flex;
justify-content: space-between;
}
.nav-logo {
  font-size: 30px;
}
.nav-logo:hover{
  color:#2196F3
}
.nav-link:hover {
  color: #2196F3
}
.nav-link{
margin: 0px 25px 0px 25px;
color:black;

}
a {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
}
.containertop2 {
width: 1200px;
height: 600px;
background: #2F303A;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
justify-content:center;
flex-direction: row;
text-align: center;
}
.soluciones {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;

}
.solicite {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.06em;
color: #FFFFFF;
padding: 10px 32px;
width: 250px;
height: 40px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.containertop3{
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-top: 60px;
padding-bottom: 60px;
background: white;
display: flex;
justify-content: space-between;
}
.benefit-container {
  width: 270px;
}
.class1 {
width: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.class2 {
width: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.aque{
width: 370px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
justify-content:center;
flex-direction: row;
text-align: center;
color: #212121;
}
.img{
width: 300px;
}
.img-container {
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
  gap: 30px;
}
.nuestro {
  width: 1200px;
  height: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  text-align: center;
  color: #212121;  
  background-color: #F5F4FA;
}
.container-botton {
width: 1200px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
background-color: #F5F4FA;
margin-left: auto;
margin-right: auto;
}
.card{
width: 200px;
margin-bottom: 60px;
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0,0,0,0.2);
text-align: center;
display:flex;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
}
.container-footer {
width: 1200px;
padding-top: 30px;
padding-left: 50px;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: left;
justify-content:left;
flex-direction: row;
text-align: left;
background: #2F303A;
}
.nav-logo-footer {
  font-size: 25px;

}
.textfooter{
display: flex;
width: 231px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;

}
.textfooter1{
  display: flex;
  width: 231px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.textfooter2 {
display:flex;
width: 231px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.textfooter3 {
display:flex;
width: 231px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
p,h2 {
margin-left: auto;
margin-right: auto;
}
