.site-nav .link {
  text-transform: none;
}
.site-nav {
  list-style: none;
}
.body {
  font-family: 'Raleway', sans-serif;
  }

.titlet {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.containertop {
width: 1200px;
height: 80px;
background: white
}
.webestudio {
position: absolute;
width: 145px;
height: 31px;
left: 155px;
top: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
text-align: right;
letter-spacing: 0.03em;
color: #2196F3;
}
.estudio {
position: absolute;
width: 49px;
height: 16px;
left: 400px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
.portafolio {
position: absolute;
width: 65px;
height: 16px;
left: 500px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.contactos{
position: absolute;
width: 67px;
height: 16px;
left: 600px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.infodevstudio {
position: absolute;
width: 135px;
height: 16px;
left: 900px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
.tel {
position: absolute;
width: 118px;
height: 16px;
left: 1050px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}
.containertop2 {
position: absolute;
width: 1200px;
height: 600px;
left: -4px;
top: 80px;
background: #2F303A;
}
.soluciones {
position: absolute;
width: 600px;
height: 200px;
left: 300px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.solicite {
width: 100px;
height: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 32px;
gap: 10px;
position: absolute;
width: 250px;
height: 40px;
left: 480px;
top: 330px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.containertop3{
  background: white;
  width: 1200px;
}
.atencion {
position: absolute;
width: 200px;
height: 14px;
left: 80px;
top: 775px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.atencioncontenido {
position: absolute;
width: 200px;
height: 70px;
left: 80px;
top: 820px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.puntualidad {
position: absolute;
width: 200px;
height: 14px;
left: 350px;
top: 775px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.puntualidadcontenido {
position: absolute;
width: 200px;
height: 70px;
left: 350px;
top: 820px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.planificacion {
position: absolute;
width: 200px;
height: 14px;
left: 600px;
top: 775px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.planificacioncontenido{
position: absolute;
width: 200px;
height: 70px;
left: 600px;
top: 820px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.tecnologia{
position: absolute;
width: 200px;
height: 14px;
left: 850px;
top: 775px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.tecnologiacontenido{
position: absolute;
width: 200px;
height: 70px;
left: 850px;
top: 820px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.aque{
position: absolute;
width: 370px;
height: 45px;
left: 400px;
top: 991px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.img1{
position: absolute;
width: 300px;
left: 80px;
top: 1092.3px;
mix-blend-mode: normal;
}
.img2{
position: absolute;
width: 300px;
left: 400px;
top: 1092.3px;
}
.img3{
position: absolute;
width: 300px;
left: 720px;
top: 1092.3px;
}
.containerbotton {
position: absolute;
display:flex;
flex-wrap: wrap;
width: 1200px;
height: 480px;
left: 0px;
top: 1510px;
background: #F5F4FA;
}
.nuestro {
width: 300px;
height: 50px;
left:20px;
top: 0px;
justify-content: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
letter-spacing: 0.03em;
color: #212121;  
}
.containerbotton2 {
width: 1200px;
height: 450px;
max-width: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.card{
width: 200px;
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0,0,0,0.2);
text-align: center;
float: center;
display:flex;
flex-wrap: wrap;
gap: -5px;
}
.containerbotton3 {
position: absolute;
width: 1200px;
height: 200px;
left: 0px;
top: 500px;
background: #2F303A;
}
.textfooter{
position: absolute;
display: flex;
width: 231px;
height: 21px;
left: 180px;
top: 50px;
bottom: 100px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;

}
.textfooter1{
  position: absolute;
  display: flex;
  width: 231px;
  height: 21px;
  left: 180px;
  top: 70px;
  bottom: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.textfooter2 {
position: absolute;
display:flex;
width: 231px;
height: 21px;
left: 180px;
top: 110px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.textfooter3 {
position: absolute;
display:flex;
width: 231px;
height: 21px;
left: 180px;
top: 130px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
